/*
# Header CSS
*/


.site-header {
    background-color: $color__background_header;
    color: $color_main;
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: middle;
      
    h1, p {
        display: inline;
    }
    
    p {
        line-height: 50px;
        margin: 10px 0;
    }
    h1 {
        margin: 0 0 0 10px;
        line-height: 50px;
        a {
              color: $color_main;
              text-decoration: none;
              
              &:focus, 
              &:hover {
                   color: $color__link-maincolor;
              } 
              
              
        }
    }
    .trigger:focus,
    .trigger:hover {
        cursor: pointer;
        color: $color__link-maincolor;
        
    }
    .search-siteheader {
       
        .searchwrap {
            .searchform {
                margin: 10px 0;
                @include inline-block();
                padding: 0;
            }
            
            input[type="text"] {
                @include inline-block();
                transition: width 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
                cursor: pointer;
                width: 0;
                margin: 0;
                padding: 0;
                border: none;
                background-color: $color__background_header;
                @include font-size($font__size-content);
            }
           
            input[type="submit"] {
                @include inline-block();
                color: $color__link-maincolor;
                float: right;
                text-indent: -10000px;
                border: none;
                z-index: 2;
                cursor: pointer;
                opacity: 0.9;
                transition: opacity .4s ease;
                box-shadow: none; 
                margin: 0;
                padding: 0; 
            }
            
            &:hover,
            &:focus {
                input[type="text"] {
                    width: 240px;
                    z-index: 1;
                    border-bottom: 1px solid $color_main;
                    cursor: text; 
                    color: $color_main;
                }

                input[type="text"]:focus:hover {
              //      border-bottom: $color_main;
                }
            }
        }
        
        
        
    } 
    
}



@media (max-width: $size__breakSM) {
   
    .site-header {
        position: fixed;
        width: 100%;
        @include linear-gradient-fromtop($color__background_header, desaturate(lighten($color__background_header, 35%), 75%));
        
        .site-branding {            
            width: calc(100% - 100px);
            @include inline-block;
            h1 {
                margin: 0;
                color: orange;
                @include inline-block;
            }
            img {
                 max-height: 100px;
                 max-width: 300px;
                 overflow: hidden;
                 width: auto;
             }
             p.site-description {
                 margin: 0;
                 display: inline;
                 color: orange;
             }
        }
        #site-navigation {
            width: 100px;
            float: right;
            @include inline-block;
            
        }
    }
}