/*
Media Queries 

$size__breakSM: 480px;
$size__breakMD: 767px;
$size__breakLG: 979px;
*/


@media (max-width: $size__breakSM) {
	
}

@media (max-width: $size__breakMD) {
	
}

@media (max-width: $size__breakLG) {
	
}




