
// Variables

// Pirate colors

$color_main: #ff8800;
$color_gray_light: #e6e6e6;
$color_gray_dark: #312e2e;

$color_blue: #5f80bb;
$color_greeen: #039391;
$color_yellow: #cbd63a;
$color_red: #c3123f;


// Colors
$color__link-maincolor: desaturate(lighten($color_main, 10%), 30%);


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #333;
$color__background-ins: #fff9c0;
$color__background_header: #000;
$color__background-footer: #000;
$color__background-quote: #f2f2f2;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color_main;
$color__link-visited: $color__link-maincolor;
$color__link-hover: red;
$color__text-main: #404040;
$color__text-pre: #2ECC71;
 


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-quote: #4998CC;
$color__text-quote: #555;

$color__table__background: #f2f2f2;
$color__table__border: #e6e6e6;
$color__table__tr_odd_background: #fff;
$color__table__tr_even_background: #fcfcfc;
// Typography

$font__headlines: 'roboto', 'DejaWeb', sans-serif;
$font__main: 'roboto', 'DejaWeb', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__sitetitle: 'roboto','PoliticsHead', 'DejaWeb', serif;


$font__size-content: 1.1;
$font__size-quote: 1.2;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Structure



$size__breakSM: 480px;
$size__breakMD: 767px;
$size__breakLG: 979px;
