
// Variables
// Pirate colors

$color_main: #ff8800;

// Palette color codes */
// Palette URL: http://paletton.com/#uid=30D0u0kw0w0jvDaoOy4y4oODajv */

$color-primary-0: #FF8900;	// Main Primary color */
$color-primary-1: #FFB764;
$color-primary-2: #FFA339;
$color-primary-3: #C66A00;
$color-primary-4: #9B5300;

$color-secondary-1-0: #1729B0;	// Main Secondary color (1) */
$color-secondary-1-1: #5C68C4;
$color-secondary-1-2: #3B49B5;
$color-secondary-1-3: #111F88;
$color-secondary-1-4: #0B166B;

$color-secondary-2-0: #00B64F;	// Main Secondary color (2) */
$color-secondary-2-1: #4EC883;
$color-secondary-2-2: #2ABB69;
$color-secondary-2-3: #008D3D;
$color-secondary-2-4: #006F30;



$color_gray_lighter:    #f2f2f2;
$color_gray_light:      #e6e6e6;
$color_gray_dark:       #312e2e;

$color_blue: #5f80bb;
$color_greeen: #039391;
$color_yellow: #cbd63a;
$color_red: #c3123f;


// Colors


$color__background-body:    #fff;
$color__background-screen:  $color_gray_lighter;
$color__background-hr:      #ccc;
$color__background-button:  $color_gray_light;
$color__background-pre:     #333;
$color__background-ins:     #fff9c0;
$color__background_header:  #000;
$color__background-footer:  #000;
$color__background-quote:   $color_gray_lighter;
$color__background-mpmenu:  $color-primary-4; // $color-secondary-2-0;

$color__text-screen:        #21759b;
$color__text-input:         #666;
$color__text-input-focus:   #111;

$color__link-maincolor:     $color-primary-0; // desaturate(lighten($color_main, 10%), 30%);
$color__link:               $color-secondary-1-0; // $color__link-maincolor; // $color_main;
$color__link-visited:       $color-secondary-1-2; // $color__link-maincolor;
$color__link-hover:         $color-secondary-1-3; // red;

$link-color:                $color__link-maincolor;
$link-hover-color:          $color__link-hover; 
$link-hover-decoration:     underline;

$color__text-main:          #404040;
$color__text-pre:           #2ECC71;
 
$headings-color:            inherit;
$headings-small-color:     inherit;


$color__border-button:          #ccc #ccc #bbb;
$color__border-button-hover:    #ccc #bbb #aaa;
$color__border-button-focus:    #aaa #bbb #bbb;
$color__border-input:           #ccc;
$color__border-abbr:            #666;
$color__border-quote:           $color-secondary-2-0; // #4998CC;
$color__text-quote:             #555;

$color__table__background:          $color_gray_lighter;
$color__table__border:              $color_gray_light;
$color__table__tr_odd_background:   #fff;
$color__table__tr_even_background:  #fcfcfc;



//** Background color for `<body>`.
 $body-bg:              $color__background-body;
//** Global text color on `<body>`.
 $text-color:            $color__text-main;





// Typography



$font-family-sans-serif:    'roboto', 'DejaWeb', sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", "Courier New",monospace;
$font-family-sitetitle:     'Brausepulver', 'PoliticsHead', 'DejaWeb', serif;

$font-family-base:          $font-family-sans-serif;
$font-family-headlines:     $font-family-sans-serif;
$font-family-code:          $font-family-monospace;
$font-family-pre:           "Courier 10 Pitch", Courier, monospace;
$font-family-quotation:     $font-family-serif;

$headings-font-family:    $font-family-headlines;

/* 
* Font Sizes 
*/

 $font-size-base:          18px;
 $font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
 $font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

 $font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
 $font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
 $font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
 $font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
 $font-size-h5:            ceil(($font-size-base * 1.15)); // ~16px
 $font-size-h6:            $font-size-base;
 $font-size-sitetitle:       floor(($font-size-base * 2.6)); // ~36px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)+2); // ~20px

//** By default, this inherits from the `<body>`.

$headings-font-weight:    500;
$headings-line-height:    1.1;




//== Breadcrumbs
//

 $breadcrumb-padding-vertical:   8px;
 $breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
 $breadcrumb-bg:                 white;
//** Breadcrumb text color
 $breadcrumb-color:              #ccc;
//** Text color of current page in the breadcrumb
 $breadcrumb-active-color:      $color_gray_dark;
//** Textual separator for between breadcrumb elements
 $breadcrumb-separator:          "/";
// Structure

$size__breakSM: 480px;
$size__breakMD: 767px;
$size__breakLG: 979px;
