.search-siteheader {
        .searchwrap {
            overflow: hidden;
            width: 250px;
            vertical-align: middle;
            white-space: nowrap;
            .searchform {
                height: 50px;
                padding: 10px 0px;
            }
            #searchheader {
                width: 250px;
                background: #2b303b;
                border: none;
                font-size: $font-size-small;
                float: left;
                color: $color-secondary-2-0;
                padding-right: 30px;
		height: 33px;
		
                @include border-radius(5px);
                @include placeholder($color-secondary-2-3);
                
                &:hover, &:focus, &:active {
                    color: $color-primary-0;;
                }
            }
            input[type="submit"] {
                @extend .screen-reader-text;
            }
            button.icon{
                border: none;
                background: #232833;
                width: 30px;
                height: 33px;
                margin-left: -30px;
                color: $color-secondary-2-3;
                opacity: 1;
                font-size:  $font-size-small;
                @include transition(.55s, all ease);
                @include box-shadow(none);
                @include border-radius(5px);
                text-shadow: none;
                padding: 0;
            }
            &:hover {
                button.icon {
                    color:$color-secondary-2-0;
                   
                        
                    &:hover {
                        color: black;
                        background:  $color-primary-0;
                    }
                }
            }
            
        }
        
        
        
    }