
.entry-header {
    h1, h2 {
        -webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        -moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        
        a {
            text-shadow: none;
            -webkit-text-shadow: none;
            -moz-text-shadow: none;
            
            color: $color__text-main;
            text-decoration: none;
            
            &:focus,
            &:hover {
                 text-decoration: underline;
            }
        }
    }
  
}
.site-branding {
    @include center-block();
    width: auto;
    
    h1 {
         background-color: $color__background_header; 
        font-family: $font-family-sitetitle;
        text-transform: capitalize;
    	text-align: center;
        @include border-radius(floor(($font-size-sitetitle * $line-height-base)));
        @include center-block();
        @include line-height($font-size-sitetitle);
        height:  floor((2*$font-size-sitetitle * $line-height-base)); 
        
        width: max-content;
        width: -moz-fit-content;
        padding: floor(($font-size-sitetitle * $line-height-base)/2) 10px;
            
        a {
              color: $color_main;
              text-decoration: none;
              
              &:focus, 
              &:hover {
                   color: $color__link-maincolor;
              }         
              
        }
}

.site-branding {         
    
            @include inline-block;
            h1 {
                margin: 0;
                color: orange;
                @include inline-block;
            }
            img {
                 max-height: 100px;
                 max-width: 300px;
                 overflow: hidden;
                 width: auto;
             }
             p.site-description {
                 margin: 0;
                 display: inline;
                 color: orange;
             }
        }


         
    }