/* 
* headings in special context
*/

.site-branding {
    @include inline-block;
    width: auto;
    
    h1 {
        margin: 0;
        color: $brand-primary;
        @include inline-block;
        font-family: $font-family-sitetitle;
        font-size:  $font-size-sitetitle;
        line-height: 50px;
	 
        a {
            text-decoration: none;
	    font-weight: normal;
        }

    }
    img {
         max-height: 100px;
         max-width: 300px;
         overflow: hidden;
         width: auto;
     }
     p.site-description {
         margin: 0;
         display: inline;
         color: $brand-primary;
     }    
}



.entry-header {
    h1, h2 {
        -webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        -moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        
        a {
            text-shadow: none;
            -webkit-text-shadow: none;
            -moz-text-shadow: none;
            
            color: $color__text-main;
            text-decoration: none;
            
            &:focus,
            &:hover {
                 text-decoration: underline;
            }
        }
    }
  
}    