
.entry-header {
    h1, h2 {
        -webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        -moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        
        a {
            text-shadow: none;
            -webkit-text-shadow: none;
            -moz-text-shadow: none;
            
            color: $color__text-main;
            text-decoration: none;
            
            &:focus,
            &:hover {
                 text-decoration: underline;
            }
        }
    }
    h1 {
      font-size: 2em;  
      line-height: 1.5em;
    }
    h2 {
      font-size: 1.8em;  
      line-height: 1.2em;
    }
}

.site-header  h1 {
    font-family: $font__sitetitle;
    text-transform: uppercase;
    
}
