


.breadcrumb {
    font-size:  $font-size-small;
    ol {
        margin: 0;
        padding: 0;
    }
}

/*
* MP Menu
*/

.mp-menu {
    a {
        color: rgba(255,255,255,0.8);
        text-decoration: none;
        
        &:visited {
		color:  rgba(255,255,255,0.5);
	}
	&:hover,
	&:focus,
	&:active {
		color:  rgba(255,255,255,0.8);
                text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
        .mp-back {
            color: white;
        }
    }
    h2 {
        color: white;
    }
}

/*
* Sonstige Navigationselemente
*/



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


