
/* 
      Molecular Elements, that use and extend atoms
*/

@import "accessibility";
@import "galleries";
@import "headers";
@import "media";
@import "menus";
@import "forms";
  
blockquote {
    p {
        color: $color__text-quote;
        margin: 10px;
        
        cite {
            @include center-block();
            text-align: right;
            font-size:  $font-size-small;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }    
}


p.site-description {
    background-color: white;
    margin: 0 0 20px 0;
    padding: 8px 15px;
   font-size:  $font-size-small;
}
