/*
# Header CSS
*/


.site-header {
   background-color: $color__background_header;
    color: $color_main;
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: middle;
      
    p {
        display: inline;
    }
    
    p {
        line-height: 50px;
        margin: 10px 0;
    }
   
    .trigger:focus,
    .trigger:hover {
        cursor: pointer;
        color: $color__link-maincolor;
        
    }
    
    
    .site-menu-trigger {
        @extend .col-sm-1;
        @extend .col-xs-1;
        
    }
    .site-branding {
        @extend .col-sm-8;
        @extend .col-xs-11;
    }
    .search-siteheader {
        @extend .col-sm-3;
        @extend .col-xs-12;
        @extend .pull-right;      
    }
}



@media (max-width: $size__breakSM) {
   
    .site-header {
        position: fixed;
        width: 100%;
        @include linear-gradient-fromtop($color__background_header, desaturate(lighten($color__background_header, 35%), 75%));
        
        
        #site-navigation {
            width: 100px;
            float: right;
            @include inline-block;
            
        }
    }
}