/*
*CSS Font Primitive
* Von Rick Mueller 
* Licensed as: SIL Open Font License (OFL), http://www.fontspace.com/rick-mueller/primitive 
*/


@font-face {
    font-family: 'Primitive';
    src: url('../fonts/primitive/Primitive.ttf');
    src: url('../fonts/primitive/Primitive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
