/*
CSS Font Brausepulver
*/



/* Brausepulver */
/* Von Peter Wiegel */
/* Licensed as: SIL Open Font License (OFL), http://www.fontspace.com/peter-wiegel/brausepulver */


@font-face {
    font-family: 'Brausepulver';
    src: url('../fonts/brausepulver/Brausepulver.ttf');
    src: url('../fonts/brausepulver/Brausepulver.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
