p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}


q {
  background: $color__background-quote;
  color: $color__text-quote;
}

blockquote {
  background: $color__background-quote;
  padding: 10px 20px;
  margin: 0 0 1.75em 0px;
  position: relative;
  border-left: 3px solid $color__border-quote;
  overflow: hidden;
  @include font-size($font__size-quote);
  font-style: italic;
 
    p {
        color: $color__text-quote;
        margin: 10px;
        
        cite {
            @include center-block();
            text-align: right;
            @include font-size(0.9375);
        }
    }
    p:last-child {
        margin-bottom: 0;
    }

    
}
 


address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
        color: $color__text-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	@include font-size(1.2);
}

figcaption {
    @include font-size(0.9375);
}